rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId}/budget/{documentId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    match /users/{userId}/profile/{documentId} {
      allow read: if request.auth != null;
      allow write: if request.auth != null && request.auth.uid == userId;
    }
    match /userIndex/{email} {
      allow read: if request.auth != null;
      allow write: if request.auth != null;
    }
  }
}
